### Integrantes: 

* Cote Chavarría Héctor Alonso
* García Reyes Carlos Alberto
* Méndez Guzmán Guadalupe

### Ejercicio 1

Con los datos de COVID hacer una selección de variables:
* Utilizar el AIC con forward, backward y stepwise.
* Utilizar los criterios de BIC y Mallow Cp.
* Si tuviese que eliminar dos variables cuales serı́an y porqué.

## Bibliotecas

In [2]:
library(readr)
library(faraway)#linealidad 
library(tseries)#acf 
library(nortest) #test de normalidad 
library(car) #para qqPlot y levene 
library(MASS) # contiene a la funcion stepAIC
library(leaps) #posibles subconjuntos en seleccion de modelos
library(olsrr) # contiene la funcion para cp de mallows
library(FSinR) # contiene la funcion para cp de mallows

## Datos

In [27]:
#dataset=read_csv("~/Documentos/seminario_estadistica/proyecto/covid.csv")
#dataset=read_csv('~/Documentos/seminario_estadistica/proyecto/covid2.csv')
dataset=read_csv('https://raw.githubusercontent.com/H-Cote/seminario_estadistica_tareas/main/datos/covid2.csv')

#df=read.table("https://raw.githubusercontent.com/H-Cote/seminario_estadistica_tareas/main/covid.csv",header = TRUE,sep = ",", row.names = 1)
df= as.data.frame(dataset)

── Column specification ────────────────────────────────────────────────────
cols(
  NUM = col_double(),
  SEXO = col_character(),
  OBESIDAD = col_character(),
  DIABETES = col_character(),
  EPOC = col_character(),
  ASMA = col_character(),
  CARDIOVASCULAR = col_character(),
  RENALCRONICA = col_character(),
  INMUNOSUPRESION = col_character(),
  HIPERTENSION = col_character(),
  TIPOP = col_double(),
  EDAD = col_double()
)

In [28]:
head(df)

  NUM SEXO   OBESIDAD DIABETES EPOC ASMA CARDIOVASCULAR RENALCRONICA
1 0   MUJER  NO       NO       NO   NO   NO             NO
2 1   MUJER  NO       NO       NO   NO   NO             NO
3 2   HOMBRE NO       NO       NO   NO   NO             NO
4 3   HOMBRE NO       NO       NO   NO   NO             NO
5 4   MUJER  NO       SI       NO   NO   NO             SI
6 5   HOMBRE NO       NO       NO   NO   NO             NO
  INMUNOSUPRESION HIPERTENSION TIPOP EDAD
1 NO              NO           0     51
2 NO              NO           0     37
3 NO              NO           0     18
4 NO              NO           0     40
5 NO              SI           1     78
6 NO              NO           0     67

In [29]:
# Estuve intentando con cada una de estas lineas pero en todas me regresa un error: 

nullmodel = lm(TIPOP ~1, data = df)
#nullmodel = lm(TIPO.PACIENTE ~1, data = df,family= "binomial")
#nullmodel = glm(TIPOP ~ 1, data = df)
#nullmodel= lm(df$TIPO.PACIENTE~ 1, data = df)
#nullmodel = lm(TIPO PACIENTE~ 1, data = df, family= "binomial")
#nullmodel = lm("TIPO PACIENTE"~ 1, data = df, family= "binomial")

In [30]:
#fullmodel= lm("TIPO.PACIENTE" ~ ., data=datos)
fullmodel = glm(TIPOP ~1, data = df,family= "binomial")

In [31]:
stepAIC(nullmodel, scope=list(lower=nullmodel,upper=fullmodel), data=df,direction="forward")

Start:  AIC=-554020.3
TIPOP ~ 1

Call:
lm(formula = TIPOP ~ 1, data = df)

Coefficients:
(Intercept)
     0.2833

In [32]:
stepAIC(nullmodel, scope=list(lower=nullmodel,upper=fullmodel), data=df,direction="backward")

Start:  AIC=-554020.3
TIPOP ~ 1

Call:
lm(formula = TIPOP ~ 1, data = df)

Coefficients:
(Intercept)
     0.2833

In [33]:
stepAIC(nullmodel, scope=list(lower=nullmodel,upper=fullmodel), data=df,direction="both")

Start:  AIC=-554020.3
TIPOP ~ 1

Call:
lm(formula = TIPOP ~ 1, data = df)

Coefficients:
(Intercept)
     0.2833

Se presentaron problemas con la base de datos "covid.csv", por lo cual los modelos nullmodel y fullmodel no pudieron definirse de acuerdo con las especificaciones de la funcion lm() en R. Se realizaron modificaciones a la base de datos para arreglar el problema, la cuales se muestran en el siguiente enlace:https://github.com/H-Cote/seminario_estadistica_tareas/tree/main/datos. Sin embargo, en ningún caso la base fue adecuada. 

Por lo anterior, utilicé la base "home.csv" para ejemplificar el procedimiento que se debió realizar con la base "covid.csv".

## Datos

In [3]:
#dataset=read_csv("~/Documentos/seminario_estadistica/proyecto/ejemplo/homes.csv")
dataset=read_csv("https://raw.githubusercontent.com/H-Cote/seminario_estadistica_tareas/main/homes.csv")

datos= as.data.frame(dataset)
head(datos)

── Column specification ────────────────────────────────────────────────────
cols(
  Sell = col_double(),
  List = col_double(),
  Living = col_double(),
  Rooms = col_double(),
  Beds = col_double(),
  Baths = col_double(),
  Age = col_double(),
  Acres = col_double(),
  Taxes = col_double()
)

  Sell List Living Rooms Beds Baths Age Acres Taxes
1 142  160  28     10    5    3     60  0.28  3167
2 175  180  18      8    4    1     12  0.43  4033
3 129  132  13      6    3    1     41  0.33  1471
4 138  140  17      7    3    1     22  0.46  3204
5 232  240  25      8    4    3      5  2.05  3613
6 135  140  18      7    4    3      9  0.57  3028

In [4]:
dim(datos)

[1] 50  9

Defimos los modelos completo y nulo, en función de la variable "Sell" (con la base original la variable deberia ser "TIPO PACIENTE")

In [5]:
nullmodel= lm(Sell~ 1, data=datos)

fullmodel= lm(Sell ~ ., data=datos)

In [6]:
summary(nullmodel)

Call:
lm(formula = Sell ~ 1, data = datos)

Residuals:
   Min     1Q Median     3Q    Max
-83.36 -35.36 -18.36  11.89 396.64

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)   170.36      10.29   16.56   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 72.76 on 49 degrees of freedom

In [7]:
summary(fullmodel)

Call:
lm(formula = Sell ~ ., data = datos)

Residuals:
   Min     1Q Median     3Q    Max
-9.799 -2.064  0.367  2.565  8.964

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept)  3.341267   5.278974   0.633  0.53029
List         0.979630   0.028929  33.863  < 2e-16 ***
Living      -0.445901   0.254722  -1.751  0.08751 .
Rooms       -1.119242   1.058200  -1.058  0.29639
Beds         4.376816   1.380973   3.169  0.00289 **
Baths       -0.245790   1.319661  -0.186  0.85317
Age         -0.021062   0.029862  -0.705  0.48462
Acres        0.544154   0.667827   0.815  0.41989
Taxes       -0.001465   0.001044  -1.403  0.16811
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 4.686 on 41 degrees of freedom
Multiple R-squared:  0.9965,	Adjusted R-squared:  0.9959
F-statistic:  1471 on 8 and 41 DF,  p-value: < 2.2e-16

# AIC Forward

In [8]:
stepAIC(nullmodel, scope=list(lower=nullmodel,upper=fullmodel), data=dataset,direction="forward")

Start:  AIC=429.7
Sell ~ 1

         Df Sum of Sq    RSS    AIC
+ List    1    258047   1330 168.05
+ Taxes   1    209787  49590 348.98
+ Living  1    200580  58798 357.49
+ Baths   1    106261 153117 405.35
+ Rooms   1     81464 177913 412.85
+ Beds    1     29128 230249 425.74
<none>                259378 429.70
+ Acres   1      7383 251995 430.26
+ Age     1      5631 253746 430.60

Step:  AIC=168.05
Sell ~ List

         Df Sum of Sq    RSS    AIC
+ Living  1   125.186 1204.9 165.11
+ Age     1    79.453 1250.7 166.97
+ Beds    1    69.147 1261.0 167.38
<none>                1330.1 168.05
+ Taxes   1    35.986 1294.1 168.68
+ Rooms   1    29.880 1300.2 168.91
+ Acres   1     1.417 1328.7 170.00
+ Baths   1     0.871 1329.3 170.02

Step:  AIC=165.11
Sell ~ List + Living

        Df Sum of Sq     RSS    AIC
+ Beds   1   207.509  997.43 157.66
<none>               1204.94 165.11
+ Taxes  1    34.687 1170.25 165.65
+ Baths  1    17.990 1186.95 166.36
+ Age    1    11.828 1193.11 166.62
+ Rooms  1     5.741 1199.20 166.87
+ Acres  1     3.664 1201.28 166.96

Step:  AIC=157.66
Sell ~ List + Living + Beds

        Df Sum of Sq    RSS    AIC
+ Taxes  1    45.617 951.81 157.32
<none>               997.43 157.66
+ Rooms  1    27.506 969.93 158.26
+ Age    1     7.986 989.45 159.26
+ Acres  1     6.945 990.49 159.31
+ Baths  1     0.205 997.23 159.65

Step:  AIC=157.32
Sell ~ List + Living + Beds + Taxes

        Df Sum of Sq    RSS    AIC
<none>               951.81 157.32
+ Rooms  1   30.9339 920.88 157.66
+ Age    1   18.5551 933.26 158.33
+ Acres  1    1.4036 950.41 159.24
+ Baths  1    0.1376 951.68 159.31

Call:
lm(formula = Sell ~ List + Living + Beds + Taxes, data = datos)

Coefficients:
(Intercept)         List       Living         Beds        Taxes
   -0.82639      0.99431     -0.68153      3.56784     -0.00145

# AIC backward

In [9]:
stepAIC(nullmodel, scope=list(lower=nullmodel,upper=fullmodel), data=dataset,direction="backward")

Start:  AIC=429.7
Sell ~ 1

Call:
lm(formula = Sell ~ 1, data = datos)

Coefficients:
(Intercept)
      170.4

# AIC  stepwise

In [10]:
stepAIC(nullmodel, scope=list(lower=nullmodel,upper=fullmodel), data=dataset,direction="both")

Start:  AIC=429.7
Sell ~ 1

         Df Sum of Sq    RSS    AIC
+ List    1    258047   1330 168.05
+ Taxes   1    209787  49590 348.98
+ Living  1    200580  58798 357.49
+ Baths   1    106261 153117 405.35
+ Rooms   1     81464 177913 412.85
+ Beds    1     29128 230249 425.74
<none>                259378 429.70
+ Acres   1      7383 251995 430.26
+ Age     1      5631 253746 430.60

Step:  AIC=168.05
Sell ~ List

         Df Sum of Sq    RSS    AIC
+ Living  1       125   1205 165.11
+ Age     1        79   1251 166.97
+ Beds    1        69   1261 167.38
<none>                  1330 168.05
+ Taxes   1        36   1294 168.68
+ Rooms   1        30   1300 168.91
+ Acres   1         1   1329 170.00
+ Baths   1         1   1329 170.02
- List    1    258047 259378 429.70

Step:  AIC=165.11
Sell ~ List + Living

         Df Sum of Sq   RSS    AIC
+ Beds    1       208   997 157.66
<none>                 1205 165.11
+ Taxes   1        35  1170 165.65
+ Baths   1        18  1187 166.36
+ Age     1        12  1193 166.61
+ Rooms   1         6  1199 166.87
+ Acres   1         4  1201 166.96
- Living  1       125  1330 168.05
- List    1     57593 58798 357.49

Step:  AIC=157.66
Sell ~ List + Living + Beds

         Df Sum of Sq   RSS    AIC
+ Taxes   1        46   952 157.32
<none>                  997 157.66
+ Rooms   1        28   970 158.26
+ Age     1         8   989 159.26
+ Acres   1         7   990 159.31
+ Baths   1         0   997 159.65
- Beds    1       208  1205 165.11
- Living  1       264  1261 167.38
- List    1     55894 56891 357.84

Step:  AIC=157.32
Sell ~ List + Living + Beds + Taxes

         Df Sum of Sq   RSS    AIC
<none>                  952 157.32
- Taxes   1      45.6   997 157.66
+ Rooms   1      30.9   921 157.67
+ Age     1      18.6   933 158.33
+ Acres   1       1.4   950 159.24
+ Baths   1       0.1   952 159.31
- Beds    1     218.4  1170 165.65
- Living  1     267.0  1219 167.68
- List    1   30938.5 31890 330.90

Call:
lm(formula = Sell ~ List + Living + Beds + Taxes, data = datos)

Coefficients:
(Intercept)         List       Living         Beds        Taxes
   -0.82639      0.99431     -0.68153      3.56784     -0.00145

### Resultados

Stepwise: List + Living + Beds + Taxes 

backward: N/A 

Forward: List + Living + Beds + Taxes

Los resultados anteriores nos indican que la variable "Sell" depende de los parámetros: List, Living, Beds y Taxes

Para utilizar las funciones BIC y Mallow Cp, definimos los siguientes modelos:

In [26]:
model_1= lm(Sell~ List, data=datos)
model_2= lm(Sell~ List+Living, data=datos)
model_3= lm(Sell~ List+Living+Beds, data=datos)
model_4= lm(Sell~ List+Living+Beds+Baths, data=datos)
model_5= lm(Sell~ List+Living+Beds+Baths+Age, data=datos)
model_6= lm(Sell~ List+Living+Beds+Baths+Age+Acres, data=datos)

# BIC

In [12]:

BIC(fullmodel)

[1] 325.5579

In [12]:
BIC(model_6)

[1] 321.6182

In [13]:
BIC(model_5)

[1] 318.5315

In [14]:
BIC(model_4)

[1] 315.0138

In [15]:
BIC(model_3)

[1] 311.112

In [16]:
BIC(model_2)

[1] 316.6501

In [17]:
BIC(model_1)

[1] 317.6803

In [18]:
BIC(nullmodel)

[1] 577.4187

En este caso el mejor modelo es aquel con  un menor valor de penalización, el cual corresponde al modelo 3, que comprende los parámetros: List, Living y Beds

# Mallow Cp

In [19]:
ols_mallows_cp(model_6, fullmodel)

[1] 8.312172

In [20]:
ols_mallows_cp(model_5, fullmodel)

[1] 7.049655

In [21]:
ols_mallows_cp(model_4, fullmodel)

[1] 5.406316

In [22]:
ols_mallows_cp(model_3, fullmodel)

[1] 3.415664

In [23]:
ols_mallows_cp(model_2, fullmodel)

[1] 10.8641

In [24]:
ols_mallows_cp(model_1, fullmodel)

[1] 14.56417

In [25]:
ols_mallows_cp(nullmodel, fullmodel)

[1] 11762.13

En este caso, el mejor modelo es aquel con un valor de Mallow Cp menor, ya que esto implica que tienen una menor cantidad de errores no explicados. Por lo anterior, el modelo 3 es el más adecuado, el cual comprende los parámetros: List, Living y Beds

Con base en los resultados anteriores, el mejor modelo es moldel_3 con los parámetros List, Living y Beds. Por lo que las funciones BIC y Mallow Cp nos sugieren retirar el parámetro Taxes sugerido por el modelo AIC.

:::python
import pandas as pd